<html>
  <head>
    <title>Reset Password</title>
  </head>
  <style>
    body {
      color: #000;
      font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
      font-size: 16px;
      line-height: 24px;
    }
  </style>
  <body>
    <p>Xin chào,</p>
    <p> Chúng tôi gửi lại cho bạn mật khẩu để đáp ứng yêu cầu tạo lại mật khẩu cho tài khoản quản trị viên mức 2 trong ứng dụng ReadEase.</p>
    <p> Sau khi đăng nhập, mọi thông tin của bạn sẽ được bảo mật</p>
    <p> Vui lòng đăng nhập vào ứng dụng với tài khoản được cung cấp trước đó: </p>
    <p>  Email: <%= email %></p>
    <p>  Đây là mật khẩu mới của bạn: <%= password %></p>
    <p></p>
    <p></p>
    <p>Quản trị viên mức 1.</p>
  </body>
</html>